@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --main1:rgb(124, 118, 109);
    --white1:rgb(255, 255, 255);
    --white2:rgb(243, 242, 237);
    --white3:rgb(167, 165, 157);
    
    --roboto: 'Roboto', sans-serif;
    --montserrat: 'Montserrat', sans-serif;
}
body {
    margin: 0;
    position: relative;
}

#root {
    display: flex;
    min-height: 100vh;
    flex-flow:column wrap ;
}

#footer p {
    margin: 10px;
    color: white;
}